
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');
/* *{
    width: 100%;
} */

h1, h4 {
    font-family: 'Share Tech Mono', sans-serif;
}

ul, h2 {
    font-family: 'Sono', sans-serif;
 }

 h3, p {
    font-family: 'IBM Plex Sans', sans-serif;
 }

.header-style {
  background-color: rgb(209, 213, 252);
  color: black;
  padding: 30px;
}

nav a {
  font-size: large;
  font-weight: 600;
  margin: 10px;
}

.header-box {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  width: 60;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  border: black;
  border-style: double;
  border-radius: 2rem;
  text-shadow: 1rem;
}

.header-txt {
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
}

body {
  background-color: rgb(249, 180, 180);
}

.log-form {
  border: black;
  border-style: solid;
  background-color: rgb(81, 242, 199);
}

.sign-form {
  border: black;
  border-style: double;
  background-color: beige;
}

.new-post {
  background-color: darkred;
  font-weight: 700;
  color: aliceblue;
}

.list-group {
  padding: 1%;
}

.main-list {
  color: aliceblue;
  margin-bottom: 20px;
  padding: 2.5%;
  border-radius: 20px;
  background-color: rgb(194, 170, 170);
  text-decoration: none;
}

.content-card {
  padding: 2%;
  text-decoration: none;
  background-color: beige;
  color: black;
}

.dashboard-card {
  color: beige;
  border: rgb(119, 53, 53);
  border-style: groove;
  margin-bottom: 10px;
  background-color: rgb(119, 53, 53);
}

.comment-card {
  color: beige;
  border: rgb(119, 53, 53);
  border-style: groove;
  margin-bottom: 10px;
  background-color: rgb(119, 53, 53);
}

.single-post {
  padding: 0.75rem 1.25rem;
}
